/*叮叮书店首页 ddStore.html*/
body{font:62.5%/1.4 "微软雅黑",Verdana,Arial,Helvetica,sans-serif;padding:0;margin:0;margin-top:20px;background-color:#999966;}
.container{width:1000px;margin:0 auto;}
#content-wrapper article{width:620px;display:inline-block;vertical-align:top;margin-right:10px;}
#content-wrapper aside{width:370px;display:inline-block;vertical-align:top}
.recommend img{display:inline-block;width:180px;height:190px;margin-right:15px;}
.recommend .recommend-content{display:inline-block;width:420px;vertical-align:top;box-sizing:border-box;}
.recommend h3{text-align:center;padding-bottom:10px;padding-top:10px;}
.recommend{border-bottom:#CCC dashed 2px;position:relative;}
.recommend .cartmore{width:98%;text-align:right;margin-bottom:10px;}
.recommend img{opacity:0.9;}
.recommend img:hover{opacity:1;transform:scale(1.1);transition: 1s;}
.about img{display:inline-block;width:120px;box-sizing:border-box;padding:10px 10px;}
.about p{display:inline-block;width:250px;vertical-align:top;box-sizing:border-box;padding-bottom:10px;}
#search{position:absolute;top:111px;left:670px;text-align:right;border:3px solid #cc6600;}
#search input[type="search"]{font-family:"微软雅黑";background:#f3f3f3;height:25px;width:170px;
font-size:1.6em;padding-left:5px;display:inline-block;vertical-align:top;border:none;}
select{appearance:none;-moz-appearance:none;-webkit-appearance:none;border:none;
background:url("images/arrow.png") no-repeat scroll right center transparent;background-color:#d2d2d2;
padding-right:14px;height:25px;}
select::-ms-expand{display:none;}
#search input[type^="submit"]{background-color:#cc6600;height:25px;display:inline-block;border:none;
vertical-align:top;padding:0 5px;background-image:url("images/search.png");background-position:center;
background-repeat:no-repeat;}
#search input[type^="submit"]:hover{cursor:pointer;}
#search input[type^="submit"]:active{background-color:#996600;}
#menu-logo{position:relative;left:340px;}
#menu-logo a{display:inline-block;color:#000000;border-radius:5px;text-decoration:none;font-family:"宋体";
font-weight:bolder;font-size:1.6em;line-height:40px;padding-left:25px;padding-right:10px;
background-image:url("images/shopping.png");background-repeat:no-repeat;background-position:6px;
background-color:#f3f3f3;}
#menu-logo a:hover{color:#0099ff;}
h1,h2,h3,h4,h5,h6{font-size:1.6em;}
header #logo h1{color:#ff6600;text-shadow:-3px -3px 1px #cc0000}
.aside-section{width:180px;display:inline-block;vertical-align:top;margin-right:5px;}
p{font-size:1.4em;text-indent:2em;text-align:justify;margin-top:0;margin-bottom:0;}
a{font-size:1.6em;}
ul{list-style-type:none;}
img{border:none;}
mark{background-color:#e3b503;color:#FFFFFF;}
header{height:150px;background-image:url("images/BG1.jpg");background-size:1000px 300px;position:relative;border:1px solid black;}
.client{width:720px;display:block;margin:5px auto;}
.client a{text-decoration:none;padding-right:15px;color:#ffffff;font-size:1.3em;font-family:"宋体";font-weight:bold;}
.client a:hover{text-decoration:underline;color:#ff9933;font-weight:bold;}
.login_successful{font-family:"宋体";font-size:1.5em;color:#0033cc;margin-left:25px;margin-top:15px;}
#displaytime{display:inline-block;color:white;}
#displaydate{display:inline-block;color:white;}
#nav nav ul li{position:relative;}
#nav nav ul ul li{background-color:#cc6600;}
#nav nav ul ul li a{border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;}
#nav nav ul ul{visibility:hidden;position:absolute;left:-40.5px;}
#nav nav ul li:hover ul{visibility:visible;z-index:100;}
#nav nav{background-color:#cc6600;}
nav ul li{display:inline-block;}
nav ul a{display:inline-block;line-height:50px;width:90px;text-align:center;border-right:1px solid #834524;color:#ffffff;
text-decoration:none;font-size:1.6em;transition:background 0.5s linear;}
nav ul a:hover{background-color:#834524;}
/*广告切换*/
#adv{position:relative;border:5px solid #c5a572;width:950px;margin:0px auto;margin-bottom:20px;box-shadow:5px 5px 5px #6f605a;}
#adv dl,#adv dd{list-style:none;}
#adv dt{position:absolute;bottom:10px;right:430px;}
#adv dd{margin:-10px 0px;padding:0px;overflow:hidden;width:1000;height:250px;}
#adv dl dt a{display:block;float:left;width:17px;height:17px;margin:8px;
border:1px solid #963;border-radius:15px;background-color:#6f605a;color:#fff;text-decoration:none;text-align:center;padding:0px;font-size:12px;}
#adv dl dt a:hover{background-color:#c96;}
/**/
#footer-wrapper{background-color:#660000;height:50px;margin-top:400px;}
footer section{float:right;}
footer a{display:block;margin-right:20px;float:left;color:#fff;text-decoration:none;width:100px;text-align:center;line-height:50px;
font-size:1.5em;}
footer section a:hover{text-decoration:none;color:#ff9900;}
#copyright{color:#000000;text-align:center;font-size:1.2em;margin:5px auto;clear:both;}
#copyright a{text-decoration:none;color:#000;}
#copyright a:hover{text-decoration:none;color:#ff3333;}
#best-selling li:before{content:counter(listxh);background:#7b5830;padding:2px 5px;color:#fff;margin-right:5px;
vertical-align:top;}
#best-selling li{counter-increment:listxh;display:inline-block;vertical-align:bottom;width:100%;overflow:hidden;margin-top:8px;text-overflow:ellipsis;transition:text-shadow 1s linear;
border-bottom:#ccc dashed 1px;}
#best-selling .curr .p-img{display:inline-block;}
#best-selling .curr .p-name{display:inline-block;vertical-align:top;font-size:1.2em;}
#best-selling .curr .p-name strong{display:block;color:#ff0000;text-align:left;font-size:1.4em;}
#best-selling .curr .p-name del{font-size:1.4em;font-weight:900;}
#best-selling .curr{display:none;}
#best-selling a{color:#000000;text-decoration:none;font-size:1.6em;}
#best-selling li:hover{text-shadow:1px 2px 3px #000;}
#best-selling li:hover .selling{display:none;}
#best-selling li:hover .curr{display:inline-block;}
h2[id^="title"]{padding-bottom:5px;color:#f2f200;font-weight:bold;
padding-left:30px;border-bottom:2px solid #834524;}
#title1{background:url("images/recommend.png");background-position:left;background-repeat:no-repeat;}
#title2{background:url("images/new.png");background-position:left;background-repeat:no-repeat;}
#title3{background:url("images/pull.png");background-position:left;background-repeat:no-repeat;}
#title4{background:url("images/sort.png");background-position:left;background-repeat:no-repeat;}
#title5{background:url("images/company.png");background-position:left;background-repeat:no-repeat;}
#title6{background:url("images/about.png");background-position:left;background-repeat:no-repeat;}
#title7{background:url("images/best_selling.png");background-position:left;background-repeat:no-repeat;}
#title8{background:url("images/P_L.png");background-position:left;background-repeat:no-repeat;}
#title9{background:url("images/TK.png");background-position:left;background-repeat:no-repeat;}
#title10{background:url("images/contact.png");background-position:left;background-repeat:no-repeat;}
#title11{background:url("images/about_us.png");background-position:left;background-repeat:no-repeat;}
#title12{background:url("images/details.png");background-position:left;background-repeat:no-repeat;}
#title13{background:url("images/cart.png");background-position:left;background-repeat:no-repeat;}
#title14{background:url("images/results.png");background-position:left;background-repeat:no-repeat;}
#title15{background:url("images/submit.png");background-position:left;background-repeat:no-repeat;}
.contacts #title15{padding-left:36px;padding-top:10px;}
.border{text-align:center;margin:10px 0px;}
.border img{width:370px;}
#advert a{display:block;}
#advert img{width:370px;}
#advert{margin:10px 0px;}
.about h2{margin-bottom:10px;}
#logo{position:absolute;top:35px;left:80px;}
#logo a{font-size:1.8em;text-decoration:none;}
#logo a h1{font-weight:normal;}
#logo a h1:first-letter{font-size:140%;}
.cart{text-decoration:none;background:#ff0000;color:#ffffff;line-height:25px;display:inline-block;
text-align:center;width:90px;opacity:0.7;}
.cart:hover{text-decoration:none;opacity:1;}
.more{text-decoration:none;background:#a15b39;color:#ffffff;line-height:25px;display:inline-block;
text-align:center;width:90px;opacity:0.7;}
.more:hover{text-decoration:none;opacity:1;}
.aside-section li a{text-decoration:none;color:#000;}
.aside-section a:hover{text-decoration:none;color:#ffcc00;}
.aside-section ul{margin:10px 0 10px 0px;list-style-type:square;}
.article-section{margin-top:57px;margin-left:36px;}
.article-section section{width:180px;display:inline-block;vertical-align:bottom;text-align:center;
margin-top:30px;}
.article-section #title2{padding-left:36px;}
.effect-1 img{width:180px;height:200px;}
.text-desc{position:absolute;left:0px;top:0px;height:100%;width:88%;margin-bottom:25px;
padding:3px 5px 10px 18px;opacity:0;z-index:-1;}
.effect-1{position:relative;overflow:hidden;border:3px solid rgba(255,0,0,0.3);-webkit-perspective:900;-webkit-perspective-origin:center bottom;}
.effect-1:hover .image-box{transform:rotateX(90deg);transition:1s;transform-origin:center bottom;}
.effect-1:hover .text-desc{opacity:1;transition:2s;}
.btn{display:inline-block;margin:5px 5px;font-size:0.7em;padding:5px 5px;color:#fff;width:60px;
border:1px solid #ff0000;background-color:#ff0000;text-decoration:none;opacity:0.7;}
.btn:hover{cursor:pointer;background-color:#fff;color:#ff0000;transition:0.4s;opacity:1.0;}

.sell-section{border-bottom:#834524 dashed 1px;width:1000px;margin:0 auto;}
.sell-center{width:1003px;margin:10px auto;}
.sell-section #title2{padding-left:36px;}
.sell-section #sell-content{width:500px;height:280px;display:inline-block;vertical-align:top;}
.sell-section #sell-content:hover{background-color:#996633;}
.sell-section #sell-content img,.sell-section #sell-content .anyelse{display:inline-block;vertical-align:top;
text-align:left;}
.sell-section #sell-content .anyelse{width:320px;padding-left:20px;}
.sell-section #sell-content .anyelse p{line-height:23px;}
.sell-section #sell-content .anyelse span{line-height:23px;margin-left:40px;}
.sell-section #sell-content .anyelse #more-special{font-weight:1000;color:black;}
.sell-section #sell-content:hover .anyelse #more-special strong{color:#ff9900;font-size:1.5em;}
.sell-section #sell-content:hover .anyelse p{color:white;}
.sell-section #sell-content h4{margin-left:20px;}
.sell-section #sell-content:hover h4{color:#ffff00;}
.sell-section #sell-content img{height:140px;width:130px;margin-left:20px;}
#sell-content .anyelse{font-size:0.8em;font-family:"宋体";font-weight:300;}
.cart-more{margin:20px 20px 20px 50px;}
.sell-cart{text-decoration:none;background:#ff0000;color:#ffffff;line-height:25px;display:inline-block;
text-align:center;width:80px;opacity:0.7;}
.sell-cart:hover{text-decoration:none;opacity:1;background:#ffffff;color:#ff0000;}
.sell-more{text-decoration:none;background:#990033;color:#ffffff;line-height:25px;display:inline-block;
text-align:center;width:80px;opacity:0.7;margin-left:20px;}
.sell-more:hover{text-decoration:none;opacity:1;background:#ffffff;color:#990033;}

/*书籍分类页面 category.html*/
.piclist ul{display:flex;}
.piclist li{text-align:center;margin:15px 3px;}
.piclist li img{width:185px;border-radius:10px;transition:all 1s ease;border:1px solid #834524;}
.piclist li:hover img{transform:scale(1.1);}
/*分页导航*/
#pagebar{text-align:right;margin-top:35px;margin-right:30px;}
#pagebar a{font-size:1.6em;text-decoration:none;color:#fff;background-color:#a05c39;display:inline-block;width:25px;height:25px;
text-align:center;transition:all 0.2s ease;padding-top:3px;border-radius:5px;}
#pagebar a:hover{z-index:100;transform:scale(1.1);}
#pagebar .arrow{width:60px;}
/*特刊降价页面 specials.html*/
.specials{border-bottom:1px dashed #ccc;margin:10px 0px;display:flex;
padding:10px;transition:background-color 1s ease;}
.specials a{display:block;vertical-align:bottom;}
.specials img{width:160px;height:200px;}
.specials div h3{text-align:center;}
.specials div strong{color:#cc0000;}
.specials:hover{background-color:#dadada;}
.specials:hover div,.specials:hover strong{color:#990000;}
/*联系我们页面 contact.html*/
.contacts p{padding:10px;}
.contact-form{border:2px dashed #7a5737;font-size:1.5em;font-family:"宋体";margin:0px 20px;}
.form-subtitle{background:#a5737;color:#fff;margin:0px auto;}
.contact-input{width:150px;border:2px inset #ccc;}
#center-left{width:300px;margin:5px auto;}
#center-left .form-row{text-align:left;padding:5px 15px;}
.form-row-buttom{padding-top:20px;text-align:center;}
.send{color:#fff;height:24px;width:45px;text-align:center;background-color:#9f9f9f;border-radius:2px;
border:0px;}
.form-row-buttom .send:hover{background-color:#595959;}
/*提交 contact.php*/
.check{width:400px;margin:10px auto;padding-top:10px;font-size:1.8em;line-height:40px;font-family:"宋体";
border:9px inset #a4a4a4;border-radius:5px;}
.check span{padding-left:15px;}
/*关于我们页面 about.html*/
#video p{margin:10px 10px;}
.video{text-align:center;}
/*详细内容页面 details.html*/
.infobook{display:flex;padding:10px;border:1px solid #834524;border-radius:5px;margin:10px 0px;}
.infobook img{width:200px;height:250px;box-shadow:5px 5px rgba(0,0,0,0.2);border:2px solid #cccccc;}
.infobook .infobookt{margin-left:20px;}
.infobook .infobookt h3{text-align:center;margin-bottom:10px;}
.infobook .infobookt div{text-align:right;}
.infobook .infobookt li{font-size:1.4em}
.infobookc{border-radius:5px;transition:all 1s ease;border:1px solid #834524;padding:10px;}
.context{margin:10px 0px;}
.context p{font-size:1em;background-color:#f3f3f3;line-height:30px;}
.context a{text-decoration:none;color:#000;background-color:#f3f3f3;}
.context a:hover{text-decoration:none;color:#d78849;}
.infobookc p{padding-bottom:5px;}
/*购物车页面 cart.html*/
#cart-wrapper article{margin-right:10px;}
.cart-content{width:1000px;margin:10px auto;}
.cart-table{font-size:1.5em;font-family:"宋体";width:1000px;border-collapse:collapse;/*合并边框*/
border:2px solid #afafaf;}
.cart-table tr{background-color:#eee8e1;line-height:20px;border-bottom:1px solid #000000;}
.cart-table .cart-title{background-color:#b5b5b5;height:70px;}
.cart-table td h3{font-size:1.3em;font-weight:lighter;}
.td-center{text-align:center;}
.stand-right{background-color:#eee8e1;width:997px;margin-right:10px;height:60px;border:2px solid #afafaf;font-family:"宋体";}
.stand-right #pay-right{margin-top:12px;margin-left:475px;}
.stand-right a{background-color:#ff0000;color:#ffffff;margin-left:40px;font-size:1.8em;padding:0px 10px;
text-decoration:none;opacity:0.7;}
.stand-right a:hover{opacity:1;}
.td-center{text-align:center;}
/*查询结果 results.php*/
.result img{width:160px;height:180px;margin-left:10px;margin-right:10px;margin-bottom:-10px;}
.result .result-content{display:inline-block;width:420px;vertical-align:center;
box-sizing:border-box;padding-right:20px;padding-top:20px;}
.result{border-bottom:1px dashed #ccc;position:relative;margin:20px 0px;
transition:background-color 1s ease;}
.result .cartmore{width:98%;text-align:right;margin-bottom:10px;}
.result div strong{color:#cc0000;}
.warning img,#sorry{display:inline-block;vertical-align:center;}
#sorry a{text-decoration:none;}
#sorry a:hover{text-decoration:underline;color:#ffcc00;}
.result:hover{background-color:#dadada;}
.result:hover div,.result:hover strong{color:#990000;}
/*登录页面login_form.php*/
#login_form{width:270px;height:300px;box-shadow:5px 6px 2px 3px #7A7A7A;position:relative;
margin:20px auto;background-color:#EEE;}
#login_form h3{margin-left:15px;line-height:60px;font-family:"宋体";font-weight:lighter;}
#login_form .login{height:10px;padding-left:50px;padding-top:10px;}
#login_form .error_msg{height:18px;padding-left:50px;margin-top:20px;margin-bottom:-10px;
font-size:1.0em;font-family:"宋体";font-weight:lighter;color:#FF1E1E;}
#login_form .login input[id^="username"]:focus{border:1px solid #787878;}
#login_form .login input[id^="password"]:focus{border:1px solid #787878;}
#login_form .login .password img,#login_form .login .password input{display:inline-block;vertical-align:bottom;}
#login_form .login .username img,#login_form .login .username input{display:inline-block;vertical-align:bottom;}
#login_form .log_in input[type^="submit"]{margin-top:30px;margin-left:115px;border:3px groove #666;}
#login_form .log_in input[type^="submit"]:hover{background-color:#B4B4B4;}
#login_form .check_box{padding-left:50px;padding-top:25px;}
#login_form .other{height:10px;padding-left:50px;padding-top:20px;}
#login_form .other a{text-decoration:none;font-size:1.3em;color:#660000;opacity:0.6;}
#login_form .other a:hover{text-decoration:underline;opacity:1.0;}
/*注册页面register_form.php*/
#register_form{width:270px;height:300px;box-shadow:5px 6px 2px 3px #7A7A7A;position:relative;
margin:20px auto;background-color:#EEE;}
#register_form h3{margin-left:15px;line-height:60px;font-family:"宋体";font-weight:lighter;}
#register_form .register{height:10px;padding-left:50px;padding-bottom:30px;}
#register_form .error_msg{height:18px;padding-left:50px;margin-top:0px;margin-bottom:0px;
font-size:1.0em;font-family:"宋体";font-weight:lighter;color:#FF1E1E;}
#register_form .register input[id^="username"]:focus{border:1px solid #787878;}
#register_form .register input[id^="password"]:focus{border:1px solid #787878;}
#register_form .register .password img,#register_form .register .password input{display:inline-block;vertical-align:bottom;}
#register_form .register .email img,#register_form .register .email input{display:inline-block;vertical-align:bottom;}
#register_form .register .username img,#register_form .register .username input{display:inline-block;vertical-align:bottom;}
#register_form .registry input[type^="submit"]{margin-top:10px;margin-left:115px;border:3px groove #666;}
#register_form .registry input[type^="submit"]:hover{background-color:#B4B4B4;}
/*找回密码页面find_password_form.php*/
#find_password{width:270px;height:300px;box-shadow:5px 6px 2px 3px #7A7A7A;position:relative;
margin:20px auto;background-color:#EEE;}
#find_password h3{margin-left:15px;line-height:60px;font-family:"宋体";font-weight:lighter;}
#find_password .find{height:10px;padding-left:50px;padding-top:20px;}
#find_password .error_msg{padding-left:50px;padding-top:30px;padding-bottom:0px;font-size:1.0em;
font-family:"宋体";font-weight:lighter;color:#FF1E1E;}
#find_password .success_msg{padding-left:50px;padding-top:20px;padding-bottom:0px;font-size:1.0em;
font-family:"宋体";font-weight:lighter;color:#00cc33;}
#find_password .find input[id^="username"]:focus{border:1px solid #787878;}
#find_password .find .username img,#find_password .find .username input{display:inline-block;vertical-align:bottom;}
#find_password .finding input[type^="submit"]{margin-top:20px;margin-left:110px;border:3px groove #666;}
#find_password .finding input[type^="submit"]:hover{background-color:#B4B4B4;}
#find_password .get_codes{height:20px;padding-left:50px;padding-top:15px;margin-left:20px;}
#find_password .get_codes input[type^="submit"]{width:75px;font-size:1.1em;margin-left:80px;
font-family:"宋体";height:28px;}
#find_password  .fill_codes{width:60px;margin-left:60px;margin-top:-17px;}
#find_password  .fill_codes:focus{border:1px solid #787878;}
/*message*/
.continue_shopping{margin-left:340px;font-size:1.5em;font-family:"宋体";font-weight:bold;}
.continue_shopping a{text-decoration:none;color:#3300cc;}
.continue_shopping a:hover{text-decoration:underline;color:#ffff00;}

